<!DOCTYPE html>
<html>
    
    <head>
        <title>Edit User</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script> 
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    
    <body>
	<div class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
	        <div class="container-fluid">
  	        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
 	            	<span class="icon-bar"></span>
                 	<span class="icon-bar"></span> 
              	</a>
              	<a class="brand" href="/organizations">Admin Panel</a>
              	<div class="nav-collapse collapse">
             		<ul class="nav pull-right">
               			<li class="dropdown">
                    		<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Admin <i class="caret"></i></a>
                      		<ul class="dropdown-menu">
                           		<li>
                               		<a tabindex="-1" href="#">Profile</a>
                            	</li>
                            	<li class="divider"></li>
                            	<li>
            	                	<a tabindex="-1" href="#">Logout</a>
            	            	</li>
        	         		</ul>
 	                	</li>
             		</ul>
     	        	<ul class="nav">
 	                	<li class="">
  	                		<a href="/organizations">Manage Organization</a>
                    	</li>
                    	
             		</ul>
       			</div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div>

<form class="form-horizontal" action="/organizations/<%=data[0].org_id%>/users/edit/<%=data[0].id%>" method="POST">
  <fieldset>
    <div id="legend" style="margin-left: 20px;">
      <legend class="">Edit User</legend>
    </div>
    <div class="control-group">
      <!-- FirstName -->
      <label class="control-label"  for="firstname">First Name</label>
      <div class="controls">
        <input type="text" id="firstname" name="firstname" value="<%=data[0].firstname%>" class="input-xlarge" required>
      </div>
    </div>

    <div class="control-group">
      <!-- LastName -->
      <label class="control-label"  for="lastname">Last Name</label>
      <div class="controls">
        <input type="text" id="lastname" name="lastname" value="<%=data[0].lastname%>" class="input-xlarge" required>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-Mail -->
      <label class="control-label" for="email">E-Mail ID</label>
      <div class="controls">
        <input type="email" id="email" name="email" value="<%=data[0].email%>" class="input-xlarge" required>
        <p class="help-block">Please provide an updated E-Mail ID if any</p>
      </div>
    </div>
    
    <input type="hidden" name="country" value="Norway">
    
    <div class="control-group">
      <!-- Hidden field for User ID -->
        <input type="hidden" id="id" name="user_id" value="<%=data[0].id%>" class="input-xlarge" required>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" pattern="[A-Z]{1}[a-z]{8,}" required>
        <p class="help-block">Enter the old(updated: if required) password for user. Note: Password should be at least 8 characters: First capital letter and rest small letters</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Contact -->
      <label class="control-label"  for="Contact">Contact</label>
      <div class="controls">
        <input type="text" id="contact" name="contact" value="<%=data[0].contact%>" class="input-xlarge" pattern="[1-9]{1}[0-9]{9}" required>
        <p class="help-block">Edit the contact of the user if required</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Status -->
      <label class="control-label"  for="isActive">Status</label>
      <div class="controls">
      <% if (data[0].isActive == 1){%>
        <select class = "isActive" data-style="btn-info" name="isActive">
          <option name="1" value="1" selected="selected">Active</option>
          <option name="0" value="0">Inactive</option>
        </select>
        <%}else{%>
        <select class = "isActive" data-style="btn-info" name="isActive">
          <option name="1" value="1">Active</option>
          <option name="0" value="0" selected="selected">Inactive</option>
        </select><%}%>
        <p class="help-block">Select the current status of the user</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" value="save" name="Submit">Save</button>
        <button type="button" class="btn btn-danger" name="cancel" onClick = "location.href = '/organizations/<%=data[0].org_id%>/users/';">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
</body>
</html>